/* ==|== primary styles =====================================================
   Author: @mykepreuss
   ========================================================================== */

#main {
	width: 320pt;
	margin: 52px auto;
}

.navbar .brand {
	float: left;
	display: block;
	padding: 8px 20px 12px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

.navbar-inner {
	webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#projectTitle {
	padding-bottom: 12px
}

.task {
	position: relative;
	padding: 8px 35px 8px 14px;
}

.task h3 {
	margin-bottom: 8px;
}

.removeTask .btn {
	position: absolute;
	top: 12px;
	right: 12px;
	display: none;
}

#lower-content {
	padding-top: 10px;
}

#estimate {
	display: none;
	margin: 12px 0;
}

.estimateTotal, .estimateTime {
	float: left;
}

.control-group {
	margin-top: 12px;
}

#calculate {
	margin: 10px 0 18px;
}

.squeeze {
	padding: 0 35px 0 14px;
}
